<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <name>Potluck</name>
    <link rel="stylesheet" type="text/css" href="/add-style.css">
</head>
<body>
<div class="m1">
    <form class="content-wrapper app-section" action="#" th:action="@{/process}" th:object="${potluck}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Student Name:</label>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label>Food:</label>
        <input type="text" th:field="*{food}"/>
        <span th:if="${#fields.hasErrors('food')}" th:errors="*{food}"></span>
        <input class="submit" type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>